In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By 
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import pandas as pd
import csv
import time

In [2]:
driver = webdriver.Chrome()
driver.get('https://www.glassdoor.co.in/Job/hyder%C4%81b%C4%81d-data-analyst-jobs-SRCH_IL.0,9_IC2865319_KO10,22.htm')

In [3]:
data = []
while True:
    jobs = driver.find_elements(By.CLASS_NAME,'JobCard_jobCardContainer__arQlW')
    for job in jobs:
        try:
            company = job.find_element(By.CLASS_NAME,'EmployerProfile_compactEmployerName__9MGcV').text
        except:
            company = 'N/A'

        try:
            role = job.find_element(By.CLASS_NAME,'JobCard_jobTitle__GLyJ1').text
        except:
            role ='N/A'

        try:
            location = job.find_element(By.CLASS_NAME,'JobCard_location__Ds1fM').text
        except:
            location ='N/A'

        try:
            salary = job.find_element(By.CLASS_NAME,'JobCard_salaryEstimate__QpbTW').text
        except:
            salary = 'N/A'

        try:
            update_ = job.find_element(By.CLASS_NAME,'JobCard_listingAge__jJsuc').text
        except:
            update_ = 'N/A'

        data.append({
            'Company Name': company,
            'Role': role,
            'Location': location,
            'Salary' : salary,
            'Last Updated Time':update_
        })     
    try:
        next_button = WebDriverWait(driver, 10).until(
            EC.element_to_be_clickable((By.CSS_SELECTOR, "button[data-test='load-more']"))
        )
        next_button.click()
    except:
        break

In [4]:
job_df= pd.DataFrame(data)
job_df

,Company Name,Role,Location,Salary,Last Updated Time
0,Optum,"Data Analyst - Power BI, Python and Alteryx",Hyderābād,N/A,30d
1,Optum,Lead Data Analyst - AI/ ML,Hyderābād,₹3L - ₹6L (Glassdoor Est.),30d
2,Bristol-Myers Squibb,Real World Data Analyst I,Hyderābād,₹9L - ₹10L (Glassdoor Est.),22d
3,Optum,Senior Business Analyst,Hyderābād,₹5L - ₹7L (Glassdoor Est.),14d
4,ITI Data,"Data Analyst (Kafka, API)",Hyderābād,₹5L - ₹6L (Glassdoor Est.),30d+
...,...,...,...,...,...
5725,Google,"Senior UX Researcher, Google Cloud Business In...",Hyderābād,N/A,30d+
5726,Hitachi Vantara Corporation,Oracle EBS Finance Senior Business Analyst - F...,Hyderābād,₹5L - ₹8L (Glassdoor Est.),30d+
5727,Ninja Van,Staff Software Engineer (Data Analytics Platform),Hyderābād,N/A,30d+
5728,MSD,Manager - SAP Data Analytics Squad Lead,Hyderābād,N/A,19d
5729,Amgen,BI Engineering Sr Manager,Hyderābād,N/A,4d

In [5]:
job_df.to_csv('glassdoor.csv' ,index = False ,encoding ='utf-8')